.gitignore

m pom.xml

External Libraries

> <23>

C:\Users\Karo\Documents\DCSC\jdk-23

Scratches and Consoles

Extensions

✓

Database Tools and SQL

✓

data

T

> aggregators

> extractors

> loaders

> schema

> schema.layouts